<!-- Modal -->
<div class="modal fade" id="editor-help" tabindex="-1" role="dialog" aria-labelledby="editor-help">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="editor-help">{% trans %}Editor Cheatsheet{% endtrans %}</h4>
            </div>
            <div class="modal-body">
                <div class="cheatsheet">
                    <h2>{% trans %}Emojis{% endtrans %}</h2>
                    <div class="emojis">
                        {% trans %}To enter emoji, type a colon and let the editor autocomplete the emoji short name for you. A full list of available emoji can be found <a href="https://unicode.org/emoji/charts/full-emoji-list.html">here</a>.{% endtrans %}
                    </div>

                    <h2>Typography</h2>
                    <div class="typography">
                        <span >
                            # {% trans %}Header1{% endtrans %} <br>
                            ## {% trans %}Header2{% endtrans %} <br>
                        </span>
                        <span>
                            * {% trans %}Unordered item1{% endtrans %} <br>
                            * {% trans %}Unordered item2{% endtrans %} <br>
                        </span>
                        <span>
                            1. {% trans %}Ordered item1{% endtrans %} <br>
                            2. {% trans %}Ordered item2{% endtrans %} <br>
                        </span>
                    </div>
                    <p class="text-center" style="margin-top: 1em;">*<em>{% trans %}Emphasized text{% endtrans %}</em>*</p>
                    <p class="text-center">**<strong>{% trans %}Bold Text{% endtrans %}</strong>**</p>
                    <p class="text-center">*** ({% trans %}Horizontal rule{% endtrans %})</p>
                    <p class="text-center">> {% trans %}Blockquote{% endtrans %}</p>
                    <h2>{% trans %}Links{% endtrans %}</h2>
                    <p class="text-center">[Google](http://www.google.com)</p>
                    <p class="text-center">[Google](http://www.google.com "Google")</p>
                    <p class="text-center">&hellip;</p>
                    <p class="text-center">![{% trans %}Img Description{% endtrans %}](/path/to/kittens.jpg)</p>
                    <p class="text-center">[![{% trans %}Description{% endtrans%}](http://kittens.com/kitty.jpg)](http://google.com)</p>
                    <h2>{% trans %}Code{% endtrans %}</h2>
                    <div class="code-hints" style="margin-top: 2em;">
                        <div class="code-example">
                            <span>
                            ```python <br>
                            print "Hello world"<br>
                            ```
                            </span>

                            <span class="markup">{{ '```python\r print "Hello World"\n```' | markup }}</span>
                        </div>
                    </div>
                    <p class="credit text-center" style="bottom: 10px; position: absolute; left: 0; right: 0; margin: 0 auto">
                    <small>{% trans %}For a more detailed info visit the <a href="http://daringfireball.net/projects/markdown/basics">official Markdown website</a>{% endtrans %}</small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
